.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

*.swp
*.swo

.vscode/
.idea/

build/
Build/
build-*/
build_*/
cmake-build-*/

Debug/
Release/
RelWithDebInfo/
MinSizeRel/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

*.o
*.obj
*.a
*.d
*.map
*.elf
*.hex
*.bin

*.lst
*.su

*.log

*.bak
